

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.box{
    width: 300px;
    padding: 50px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    text-align: center;
    border: 2px solid rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(15px);

 border-radius: 20px;
}
.box h1{
    color: #fff;
        text-align: center;
        font-size: xx-large;
    
}
.box input[type = "text"],.box input[type = "password"]{
    border: none;
    background: transparent;
    display: block;
    margin: 20px auto;
    text-align: left;
    font-size: 0.4cm;
    padding: 0 35px 0 5px;
    color: rgb(248, 248, 248);
    text-decoration: none;
        border-bottom: 2px solid #fff;
    
    width: 90%;
    height: 50px;
    outline: none;
    transform: translateY(-30%);
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 95%;
    height: 60px;
       
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #f3f5f5;
    padding: 14px 40px;
width: 100%;
background-color: #fff;
    outline: none;
    color: rgb(22, 21, 21);
    border-radius: 30px;
    text-align: center;
    
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #d1d6d6;
}
.inputbox2 ion-icon{
    position: absolute;
    right: 40px;
    color: #fcfcfd;
}

.forget {
    color: #fff;
    text-decoration: none;
    font-size: smaller;
}
.forget a{
    color: #fff;
    text-decoration: none;
    font-size: 0.4cm;
    font-weight: 300;
}
.forget label a:hover{
    text-decoration: underline;
    color: rgb(230, 225, 225);
}
.rigister{
    font-size: 0.4cm;
    color: #fcfcfd;
    text-align: center;
    margin: 25px 0 10px;
  }
    .rigister p a{
      text-decoration: none;
      color: #fcfcfd;
      font-weight: 400;
    }
  .rigister p a:hover{
    text-decoration: underline;
  }


body {
  background-image: url(./3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}